/* Comfortaa font import */
@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
    font-weight: 200 700;
    font-style: normal;
}

/* Determines the font for the entire page */
* {
    font-family: "Comfortaa";
}

/* Sets the background color and text color for the entire page */
body{
    color:aliceblue;
    background-color:rgb(47, 47, 128);
}

/* Creates small gaps between itself to separate elements */
.divider{
    margin: 5%;
}

/* Determines the style for all links on the page (Color, size, font weight) */
a{
    color: aliceblue;
    font-size: 15px;
    font-weight: normal;
}

/* Determines the layout for alert messages (color, size, font weight, width, positioning) */
.textalert{
    color: aliceblue;
    font-size: 15px;
    font-weight: normal;
    width: 80%;
    margin-left: 11%;
    margin-bottom: 5%;
}

/* Determines the layout for the container of all the page's contents (color, size, display, positioning) */
.forgotpassbox{
    display: grid;
    margin: auto;
    text-align: center;
    max-width: 500px;
    background-color: rgb(38, 34, 95);
    border-radius: 5%;
}

/* Makes a bit of empty space above the email receiving form*/
.useremailinput{
    margin-top: 5%;
}

h1 {
    font-size: 20px;
}
