.noticecontainer{
    margin: auto;
    display: flex;            
    flex-wrap: nowrap;        
    overflow-x: auto;         
    overflow-y: hidden;        
    width: 95%;             
    border: 2px solid #ccc;
    padding: 10px;
    background-color: aliceblue;
    gap: 15px;
    border-radius: 8px;
    height:200px;
    margin-bottom: 5%;
}

.notices{
    flex: 0 0 200px;           
    height: 50px;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    color:aliceblue;
    background-color:rgb(47, 47, 128);
}

.divider{
    margin: 5%;
}

.navsearchbar{
    position: fixed;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
    top: 0;
}

.navsearchbartext{
    display: block;
    width: 100%;
}

.navlinkbar{
    position: fixed;
    bottom: 0;
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
}