/* Comfortaa font import */
@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
    font-weight: 200 700;
    font-style: normal;
}

/* Determines the font for the entire page */
* {
    font-family: "Comfortaa";
}

/* Sets the background color and text color for the entire page */
body{
    margin: 0;
    color:aliceblue;
    background-color:rgb(47, 47, 128);
    padding: 150px 0 0 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Determines the layout of the footer at the bottom of the page (Sizing, display, color)*/
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 35, 99);
    width: 100%;
    border-top: 2px solid aliceblue;
    margin-top: 4%;
    justify-content: center;
    padding: 20px 0 40px 0;
    text-align: center;
}

/* Creates small gaps between itself to separate elements */
.divider{
    margin: 5%;
}

/* Makes all links on the page have an aliceblue color */
a{
    color: aliceblue;
}

/* Determines the layout for the nav search bar (Sizing, color, display, positioning) */
.navsearchbar{
    display: flex;
    position: fixed;
    background-color: rgb(35, 35, 99);
    width: 100%;
    height: 4%;
    top: 67.5px;
    left: 0;
    border-bottom: 2px solid aliceblue;
    margin-top: 0;
    align-content: center;
    justify-content: center;
    padding: 20px;
    z-index: 999;
}

/* Makes the search bar text box take up 50% of the width of the search bar */
.navsearchbartext{
    width: 50%;
}


/* Determines the layout for the nav link bar (Sizing, color, display, positioning). Makes it into a 6 by 1 grid (1 column per page link) */
.navlinkbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(35, 35, 99);
    padding: 20px;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 0;
    z-index: 1000;
}

/* Makes little rectangles around each link in the bottom nav bar / nav link bar. Helps them stand out. */
.navlink{
    padding: 5px;
    background-color:rgb(47, 47, 128);
    width: 80%;
    text-align: center;
}

/* Determines the layout for the notice container forms (Sizing, color, display) and makes it scrollable */
.noticecontainer{
    margin: auto;
    display: flex;            
    flex-wrap: nowrap;        
    overflow-x: auto;         
    overflow-y: hidden;        
    width: 95%;             
    border: 2.5px solid aliceblue;
    background-color: aliceblue;
    gap: 2.5px;
    border-radius: 8px;
    height:350px;
    margin-bottom: 5%;
}

/* Determines the layout for the individual notices (Sizing, color, display) */
.notices{
    flex: 0 0 200px;           
    height: 50px;
    color:aliceblue;
    background-color: rgb(35, 35, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* centers all text that says what type of notices is being displayed below it (New sets, trending cards, bug fixes) */
.noticetype{
    text-align: center;
}

/* Determines the layout for the welcome back message (Sizing, positioning) */
.welcomeback{
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}

/* Slightly shifts the changes written in the list to the right */
.changes{
    margin-left: 1%;
}

/* Slightly shifts the changes list itself to the right */
.changeslist{
    margin-left: 1%;
}

/* Removes the white boarders around the buttons and makes it so the cursor changes when hovering over them */
button {
    padding: 0;
    border: none;
    cursor: pointer;
    line-height: 0;
}

