@font-face {
    font-family: 'Comfortaa';
    src: url('static/css/font/Comfortaa-VaribleFont_wght.ttf') format('truetype');
    font-weight: 200px;
    font-style: normal;
}

body{
    color:aliceblue;
    background-color:rgb(47, 47, 128);
    font-family: "Comfortaa", sans-serif;
}

.noticecontainer{
    margin: auto;
    display: flex;            
    flex-wrap: nowrap;        
    overflow-x: auto;         
    overflow-y: hidden;        
    width: 95%;             
    border: 2.5px solid aliceblue;
    padding: 10px;
    background-color: aliceblue;
    gap: 15px;
    border-radius: 8px;
    height:200px;
    margin-bottom: 5%;
}

.notices{
    flex: 0 0 200px;           
    height: 50px;
    color:aliceblue;
    background-color: rgb(35, 35, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.noticetype{
    text-align: center;
}

.divider{
    margin: 5%;
}

.navsearchbar{
    display: flex;
    position: fixed;
    background-color: rgb(35, 35, 99);
    width: 100%;
    height: 4%;
    top: 0;
    left: 0;
    border-bottom: 2px solid aliceblue;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.navsearchbartext{
    width: 50%;
}

.navlinkbar{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(35, 35, 99);
    padding: 20px;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    border-top: 2px solid aliceblue;
}

.navlink{
    padding: 5px;
    background-color:rgb(47, 47, 128);
    width: 80%;
    text-align: center;
}

a{
    color: aliceblue;
}

.welcomeback{
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}