@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
    font-weight: 200 700;
    font-style: normal;
}

body{
    color:aliceblue;
    background-color:rgb(47, 47, 128);
    font-family: "Comfortaa", sans-serif;
}

.divider{
    margin: 5%;
}

.navsearchbar{
    display: flex;
    position: fixed;
    background-color: rgb(35, 35, 99);
    width: 100%;
    height: 4%;
    top: 0;
    left: 0;
    border-bottom: 2px solid aliceblue;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.navsearchbartext{
    width: 50%;
}

.navlinkbar{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(35, 35, 99);
    padding: 20px;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    border-top: 2px solid aliceblue;
}

.navlink{
    padding: 5px;
    background-color:rgb(47, 47, 128);
    width: 80%;
    text-align: center;
}

a{
    color: aliceblue;
}

.cardinfo{
    border: solid, 2px, aliceblue;
    display: grid;
    grid-template-rows: 3fr, 1fr;
    grid-template-columns: 1fr;
    width: 70%;
    margin: auto;
}

.sidebyside{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.cardinfobox{
    width: 100%;
    background-color: rgb(11, 48, 80);
}

.marketlistings{
    background-color: black;
}

.marketlistingsimg{
    display: block;
    width: 100%;
    height: 600px;
}

.trendimg{
    display: block;
    width: 100%;
    height: 362px;
}

.cardimg{
    display: flex;
}

.secondtopbar{
    display: flex;
    position: fixed;
    background-color: rgb(35, 35, 99);
    width: 100%;
    height: 2%;
    top: 7%;
    left: 0;
    border-bottom: 2px solid aliceblue;
    align-content: center;
    justify-content: center;
    padding: 15px;
}

.goback{
    position: fixed;
    position: fixed;
    top: 9%;
    left: 24.4%;
}

.addremove{
    position: fixed;
    top: 9%;
    left: 30%;
}
