/* Comfortaa font import */
@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
    font-weight: 200 700;
    font-style: normal;
}

/* Determines the font for the entire page */
* {
    font-family: "Comfortaa";
}

/* Sets the background color and text color for the entire page */
body{
    color:aliceblue;
    background-color:rgb(47, 47, 128);
}

/* Creates small gaps between itself to separate elements */
.divider{
    margin: 5%;
}

/* Determines the style for all links on the page (Color, size, font weight) */
a{
    color: aliceblue;
    font-size: 15px;
    font-weight: normal;
}

/* Determines the layout for alert messages (color, size, font weight, width, positioning) */
.textalert{
    color: aliceblue;
    font-size: 15px;
    font-weight: normal;
    width: 80%;
    margin-left: 11%;
    padding-bottom: 5%;
}

/* Determines the layout for the container of all the page's contents (color, size, display, positioning). Splits contents into a 1 by 5 grid (1 row per element) */
.loginbox{
    display: grid;
    margin:auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    max-width: 500px;
    background-color: rgb(38, 34, 95);
    border-radius: 5%;
}

/* Same as sidebyside but without the shift to the right. Places two elements side by side in a 2 by 1 grid (1 column per element) */
.userdetailsinput{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
