@font-face {
    font-family: 'Comfortaa';
    src: url('static/css/font/Comfortaa-VaribleFont_wght.ttf') format('truetype');
    font-weight: 200px;
    font-style: normal;
}

body{
    color:aliceblue;
    background-color:rgb(47, 47, 128);
    font-family: "Comfortaa", sans-serif;
}

.divider{
    margin: 5%;
}

.loginbox{
    display: grid;
    margin:auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    max-width: 500px;
    background-color: rgb(38, 34, 95);
    border-radius: 5%;
}

.sidebyside{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.userdetailsinput{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

a{
    color: aliceblue;
}

.errormessage{
    color: aliceblue;
    font-size: 15px;
    font-weight: normal;
}