/* Comfortaa font import */
@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
    font-weight: 200 700;
    font-style: normal;
}

/* Determines the font for the entire page */
* {
    font-family: "Comfortaa";
}

/* Sets the background color and text color for the entire page */
body{
    margin: 0;
    color:aliceblue;
    background-color:rgb(47, 47, 128);
    padding: 55px 0 0 0;
    box-sizing: border-box;
}

/* Determines the layout of the footer at the bottom of the page (Sizing, display, color)*/
footer {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    background-color: rgb(35, 35, 99);
    width: 100%;
    border-top: 2px solid aliceblue;
    margin-top: 4%;
    justify-content: center;
    padding: 20px 0 40px 0;
    text-align: center;
}


/* Creates small gaps between itself to separate elements */
.divider{
    margin: 5%;
}

/* Makes all links on the page have an aliceblue color */
a{
    color: aliceblue;
}

/* Determines the layout for the nav link bar (Sizing, color, display, positioning). Makes it into a 6 by 1 grid (1 column per page link) */
.navlinkbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(35, 35, 99);
    padding: 20px;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 2px solid aliceblue;
    z-index: 1000;
}

/* Makes little rectangles around each link in the bottom nav bar / nav link bar. Helps them stand out. */
.navlink{
    padding: 5px;
    background-color:rgb(47, 47, 128);
    width: 80%;
    text-align: center;
}

/* Determines the layout of the page's main contents (Positioning, color, sizing) and makes a rounded box around it all */
.pagecontent{
    display: grid;
    gap: 20px;
    margin: auto;
    max-width: 760px;
    padding: 30px;
    background-color: rgb(38, 34, 95);
    border-radius: 8px;
    text-align: center;
}

/* Determines the layout of each set displayed (Padding, border, background color)*/
.section{
    padding: 20px;
    background-color: rgb(35, 35, 99);
    border: 2px solid aliceblue;
    border-radius: 12px;
}

/* Makes a bit of empty space below each section header (set name) */
.section h2{
    margin-bottom: 10px;
}

/* Places two elements side by side in a 2 by 1 grid (1 column per element) shifted a bit to the right */
.sidebyside{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

/* Determines the layout for alert messages (color, size, font weight, width, positioning) */
.textalert{
    color: aliceblue;
    font-size: 15px;
    font-weight: normal;
    width: 80%;
    margin-left: 11%;
}

/* Determines the layout for the text that shows the boundaries for naming each set (size, positioning) */
.setnameboundaries{
    font-size: 10px;
    width: 80%;
    margin-left: 11%;
}

