<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Set Account Details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/accdetails.css') }}">
    </head>
    <body>
        <div class="divider"></div>
        <div class="accountcreationbox">   
            <h2>Set your account details!</h2>
            <form method="POST" action="/accdetails" class="userdetailsinput">
                <br>
                <div>
                    <input type="text" name="createusernametype" placeholder="Set Username here..." value="{{ pastusername }}">
                </div>
                <br>
                <div>
                    <input type="text" name="createpasswordtype" placeholder="Set Password here..." value="">
                </div>
                <br>
                <div>
                    <input type="submit" name="accdetailsconfirm" value="Confirm">
                </div>
            </form>
            <div class="divider">
                <a href="{{ url_for('receiveemailcode') }}">Back</a>
            </div>
            <p>{{  errormessage  }}</p>
        </div>
    </body>
</html>