<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cardsearch.css') }}">
    </head>
    <body>
        <nav>
        <form method="POST" action="/cardsearch" class="navsearchbar">
            <input type="text" name="navsearch" placeholder="Search for cards!" value="" class="navsearchbartext">
            <input type="submit" name="confirmnavsearch" value="Search">
        </form>
        <form method="POST" action="/cardsearch" class="navfilterbar" name="filtersets">
            <div>
                <label for="setfilter">Set:</label>
                <select>
                  {% for set in sets %}
                    <option value="{{ set }}">{{ set[0] }}</option>
                  {% endfor %}
                </select>
            </div>
            <div>
                <label for="pricefilter">Avg Price:</label>
                <select>
                    <option value="avgpricelower">higher than</option>
                    <option value="avgpricehigher">lower than</option>
                </select>
                <input type="text" placeholder="Enter price...">
            </div>
            <div>
                <label for="releaseyearfilter">Release Year:</label>
                <select>
                    <option value="">later than</option>
                    <option value="">earlier than</option>
                </select>
                <select>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>
            </div>
            <div>
                <label for="datarecencyfilter">Data Recency:</label>
                <select>
                    <option value="">later than</option>
                    <option value="">earlier than</option>
                </select>
                <select>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>
            </div>
            <div class="navfilterconfirm">
                <input type="submit" value="Run Filter">
            </div>
        </form>
        </nav>
        <br>
        <div class="divider"></div>
        <br>
        <h2 class="filterresults">Showing Results For: PLACEHOLDER, PLACEHOLDER, PLACEHOLDER</h2>
        <br>
        <div class="allshowncards">
        <form method="POST" action="/cardsearch">
        {% for card in showncards %}
        <button type="submit" name="card" value="{{ card }}" class="cardimg">
            <img src="static/placeholdercards/{{ card[0] }}">
        </button>
        {% endfor %}
        </form>
        </div>
        <div class="divider"></div>
        <nav class="navlinkbar">
            <a href="{{ url_for('index') }}" class="navlink">HOME</a>
            <a href="{{ url_for('index') }}" class="navlink">HELP</a>
            <a href="{{ url_for('cardsearch') }}" class="navlink">ALL CARDS</a>
            <a href="{{ url_for('index') }}" class="navlink">OWN SETS</a>
            <a href="{{ url_for('index') }}" class="navlink">CONTACT US</a>
            <a href="{{ url_for('index') }}" class="navlink">SETTINGS</a>
        </nav>
    </body>
</html>