<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    </head>
    <body>
        <div class="navblankbar"></div>
        <div class="divider"></div>
        <div class="pagecontent">
            <h1>Contact Us</h1>
            {% if messagesent %}
                <p>Your message has been sent. We will review it shortly.</p>
                <a href="{{ url_for('contact') }}">Send another message?</a>
            {% else %}
                <form method="POST" action="{{ url_for('contact') }}">
                    <label for="subject">Subject</label><br>
                    <input type="text" id="subject" name="messagesubject" placeholder="Subject..." class="messagesubject">
                    <br>
                    <br>
                    <label for="message">Message</label><br>
                    <textarea id="message" name="contactmessage" rows="6" placeholder="Write your message here..."></textarea><br><br>
                    <input type="submit" name="sendmessageconfirm" value="Send Message" class="sendmessageconfirm">
                </form>
                <br>
            {% endif %}
            <div class="textalert">
                <p style="background-color: rgb(75, 74, 0); color: #fad429;">{{ error }}</p>
            </div>
        </div>
        <br>
        <div class="divider"></div>
        <nav class="navlinkbar">
            <a href="{{ url_for('index') }}" class="navlink">HOME</a>
            <a href="{{ url_for('instructionsmanual') }}" class="navlink">HELP</a>
            <a href="{{ url_for('cardsearch') }}" class="navlink">ALL CARDS</a>
            <a href="{{ url_for('ownsets') }}" class="navlink">OWN SETS</a>
            <a href="{{ url_for('contact') }}" class="navlink">CONTACT US</a>
            <a href="{{ url_for('usersettings') }}" class="navlink">SETTINGS</a>
        </nav>
    </body>
</html>