<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpass.css') }}">
    </head>
    <body>
        <div class="divider"></div>

        <!-- Forgot Password Box -->
        <div class="forgotpassbox">

            <!-- Passes value for email. Value is used to check if email exists and is bount to an account-->
            <h1>Enter your email for a recovery code!</h1>
            <form method="post" action="/forgotpass" class="useremailinput">
                <div>
                    <input type="text" name="emailtypeforgot" placeholder="Email here..." value="">
                    <input type="submit" name="confirmrecoveryemail" value="Confirm">
                </div>
            </form>

            <!-- Back link to login page -->
            <div class="divider">
                <a href="{{ url_for('login') }}">Back</a>
            </div>

            {% if errormessage %}
                <div class="textalert">
                    <p style="background-color: rgb(75, 74, 0); color: #fad429;">{{ errormessage }}</p>
                </div>
            {% endif %}
        </div>
    </body>
</html>