<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <nav>
        <form method="POST" action="/cardsearch" class="navsearchbar">
            <input type="text" name="navsearch" placeholder="Search for cards!" value="" class="navsearchbartext">
            <input type="submit" name="confirmnavsearch" value="Search">
        </form>
        </nav>
        <br>
        <p class="welcomeback">Welcome, {{ user }}!</p>
        <p class="noticetype">New Sets!</p>
        <br>
        <div class="noticecontainer">
            {% for notice in newsetnotices %}
                <button class="notice"><img src="static/newsetnotices/{{ notice }}"></button>
            {% endfor %}
        </div>
        <p class="noticetype">Trending Cards</p>
        <br>
        <form class="noticecontainer" method="POST" action="/individualcards">
            {% for notice in trendingcardnotices %}
                <button class="notice" name="trendingcards" value='{{ notice }}'><img src="static/trendingcardnotices/{{ notice }}"></button>
            {% endfor %}
        </form>
        <br>
        <div class="changeslist">
            <p class="changes">Bug Fixes and Changes</p>
            <ul>
                <li>
                    Replaced placeholder images with official images
                </li>
                <li>
                    Fixed a bug where the data recency filter's greater than and less than options gave opposite results    
                </li>
                <li>
                    Fixed a bug where sets remained bound to usernames even after account deletion
                </li>
                <li>
                    Fixed a bug where the card images in their individual pages clipped into the corners
                </li>
            </ul>
        </div>
        <br>
        <div class="divider"></div>
        <nav class="navlinkbar">
            <a href="{{ url_for('index') }}" class="navlink">HOME</a>
            <a href="{{ url_for('instructionsmanual') }}" class="navlink">HELP</a>
            <a href="{{ url_for('cardsearch') }}" class="navlink">ALL CARDS</a>
            <a href="{{ url_for('ownsets') }}" class="navlink">OWN SETS</a>
            <a href="{{ url_for('contact') }}" class="navlink">CONTACT US</a>
            <a href="{{ url_for('usersettings') }}" class="navlink">SETTINGS</a>
        </nav>
    </body>
</html>