<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <nav>
        <form method="POST" action="/index" class="navsearchbar">
            <input type="text" name="navsearch" placeholder="Search for cards!" value="" class="navsearchbartext">
            <input type="submit" name="confirmnavsearch" value="Search">
        </form>
        </nav>
        <br>
        <div class="divider"></div>
        <p class="welcome">Welcome, {{ user }}!</p>
        <div class="divider"></div>
        <p class="noticetype">Notice Type</p>
        <br>
        <div class="noticecontainer">
            {% for notice in personalnotices %}
                <div class="notice"><img src="static/personalnotices/{{ notice }}"></div>
            {% endfor %}
        </div>
        <p class="noticetype">Notice Type</p>
        <br>
        <div class="noticecontainer">
            {% for notice in personalnotices %}
                <div class="notice"><img src="static/personalnotices/{{ notice }}"></div>
            {% endfor %}
        </div>
        <p class="noticetype">Notice Type</p>
        <br>
        <div class="noticecontainer">
            {% for notice in personalnotices %}
                <div class="notice"><img src="static/personalnotices/{{ notice }}"></div>
            {% endfor %}
        </div>
        <p class="noticetype">Notice Type</p>
        <br>
        <div class="noticecontainer">
            {% for notice in personalnotices %}
                <div class="notice"><img src="static/personalnotices/{{ notice }}"></div>
            {% endfor %}
        </div>
        <nav>
            <a>aaaaaaaaaaa</a>
            <a>aaaaaaaaaaa</a>
        </nav>
    </body>
</html>