<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/individualcards.css') }}">
    </head>
    <body>
        <nav>
            <form method="POST" action="/individualcards" class="navsearchbar">
                <input type="text" name="navsearch" placeholder="Search for cards!" value="" class="navsearchbartext">
                <input type="submit" name="confirmnavsearch" value="Search">
            </form>
            <div class="secondtopbar">
                    <form method="POST" action="/individualcards" class="goback">
                        {% if addorremove == "add" %}
                            <input type="submit" name="backnoset" value="Back">
                        {% else %}
                            <input type="submit" name="backset" value="Back">
                        {% endif %}
                    </form>
                    {% if shownsets %}
                        <div class="addremove">
                            {% if addorremove == "add" %}
                                <form method="POST" action="/individualcards">
                                    <select name="addchosenset">
                                        {% for set in shownsets %}
                                            <option value="{{ set }}">{{ set }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" name="addcard" value="Add Card">
                                </form>
                            {% else %}
                                <form method="POST" action="/individualcards">
                                    <input type="submit" name="removecard" value="Remove Card">
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
            </div>
        </nav>
        <br>
        <br>
        <div class="divider"></div>
        <div class="cardinfo">
            <div class="sidebyside">
                <div class="cardimg">
                    <img src="static/cardimages/{{ cardpage }}">
                </div>
                <div class="cardinfobox">
                    <div class="cardinfotext">
                        <br> 
                        <p>Page last updated: {{ carddatarecency }}</p>
                        <p>Card Name: {{ cardname }}</p>
                        <p>Set: {{ cardset }}</p>
                        <p>Release Date: {{ cardreleaseyear }}</p>
                        <p>Description: {{ carddesc }}</p>
                        <p>Current Price Average: {{ avgcardprice }}</p>
                    </div>
                    <div class="trends">
                        <img src="static/cardtrends/{{ cardtrend }}" class="trendimg">
                    </div>
                </div>    
            </div>
            <div class="marketlistings">
                <img src="static/cardlistings/{{ cardlistings }}" class="marketlistingsimg">
            </div>
        </div>
        <br>
        <div class="divider"></div>
        <nav class="navlinkbar">
            <a href="{{ url_for('index') }}" class="navlink">HOME</a>
            <a href="{{ url_for('instructionsmanual') }}" class="navlink">HELP</a>
            <a href="{{ url_for('cardsearch') }}" class="navlink">ALL CARDS</a>
            <a href="{{ url_for('ownsets') }}" class="navlink">OWN SETS</a>
            <a href="{{ url_for('contact') }}" class="navlink">CONTACT US</a>
            <a href="{{ url_for('usersettings') }}" class="navlink">SETTINGS</a>
        </nav>
    </body>
</html>