<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Page title sets itself to the name of the card being viewed -->
        <title>Card: {{ cardname }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/individualcards.css') }}">
    </head>
    <body>
        <!-- Navigation bar at the top of the page. Links to all other pages -->
        <nav class="navlinkbar">
            <a href="{{ url_for('index') }}" class="navlink">HOME</a>
            <a href="{{ url_for('instructionsmanual') }}" class="navlink">HELP</a>
            <a href="{{ url_for('cardsearch') }}" class="navlink">ALL CARDS</a>
            <a href="{{ url_for('ownsets') }}" class="navlink">OWN SETS</a>
            <a href="{{ url_for('contact') }}" class="navlink">CONTACT US</a>
            <a href="{{ url_for('usersettings') }}" class="navlink">SETTINGS</a>
        </nav>

        <nav>

            <!-- Search bar. Value of the search query is passed to the cardsearch route and used to filter cards -->
            <form method="POST" action="/cardsearch" class="navsearchbar">
                <input type="text" name="navsearch" placeholder="Search for cards!" value="" class="navsearchbartext">
                <input type="submit" name="confirmnavsearch" value="Search">
            </form>

            <div class="secondtopbar">

                    <!-- Back button. Triggers a different function depending on whether the user is viewing a set or not -->
                    <form method="POST" action="/individualcards" class="goback">
                        {% if addorremove == "add" %}
                            <input type="submit" name="backnoset" value="Back">
                        {% else %}
                            <input type="submit" name="backset" value="Back">
                        {% endif %}
                    </form>

                    <!-- Depending on if the user is viewing an owned set or not, either displays the option to add or remove a card to or from a specific set -->
                    {% if shownsets %}
                        <div class="addremove">

                            <!-- If adding, displays all available sets as options. Submit acts as the trigger to add the card to the selected option-->
                            {% if addorremove == "add" %}
                                <form method="POST" action="/individualcards">
                                    <select name="addchosenset">
                                        {% for set in shownsets %}
                                            <option value="{{ set }}">{{ set }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" name="addcard" value="Add Card">
                                </form>
                            
                            <!-- If removing, displays a button that acts as the trigger to remove the card from the set being viewed -->
                            {% else %}
                                <form method="POST" action="/individualcards">
                                    <input type="submit" name="removecard" value="Remove Card">
                                </form>
                            {% endif %}

                        </div>
                    {% endif %}
            </div>
        </nav>
        <br>
        <br>
        <div class="divider"></div>
        <div class="cardinfo">
            <div class="sidebyside">
                <div class="cardimg">
                    <img src="static/cardimages/{{ cardpage }}" alt="{{ cardpage }}">
                </div>
                <div class="cardinfobox">
                    <div class="cardinfotext">
                        <br> 
                        <p>Page last updated: {{ carddatarecency }}</p>
                        <br> 
                        <p>Card Name: {{ cardname }}</p>
                        <p>Set: {{ cardset }}</p>
                        <p>Release Date: {{ cardreleaseyear }}</p>
                        <p>Description: {{ carddesc }}</p>
                        <p>Current Price Average: {{ avgcardprice }}</p>
                    </div>
                    <div class="trends">
                        <img src="static/cardtrends/{{ cardtrend }}" class="trendimg" alt="{{ cardtrend }}">
                    </div>
                </div>    
            </div>
            <div class="marketlistings">
                <img src="static/cardlistings/{{ cardlistings }}" class="marketlistingsimg" alt="{{ cardlistings }}">
            </div>
        </div>
        <div class="divider"></div>

        <!-- Footer bar at the bottom of the page -->
        <footer>
                <p>Bobo Cards Tracker is an unofficial program not owned by or affiliated with the Bobo Cards Company.</p>
                <p>All card art and licensing to all cards belongs to the Bobo Cards Company.</p>
        </footer>

    </body>
</html>