<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emailcode</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/receiveemailcode.css') }}">
    </head>
    <body>
        <div class="divider"></div>
        <div class="codebox">
            <h1>A code was mailed to the given address!</h1>

            <!-- Code input form. Value sent to the receiveemailcode route for validation, if valid sends to accountdetails page -->
            <form method="post" action="/receiveemailcode" class="userpassinput">
                <div>
                    <input type="text" name="codeemail" placeholder="Code here..." value="">
                    <input type="submit" name="confirmcodeemail" value="Confirm">
                </div>
            </form>

            <!-- Back and Resend Code links. Back link is dynamic and will return to the page that sent the user to this page -->
            <div class="sidebyside">
                <div>
                    <a href="{{ url_for(priorpage) }}">Back</a>
                </div>
                <div>
                    <a>Resend Code</a>
                </div>
            </div>

            <!-- Displays error messages -->
            {% if errormessage %}
                <div class="textalert">
                    <p style="background-color: rgb(75, 74, 0); color: #fad429;">{{ errormessage }}</p>
                </div>
            {% endif %}

        </div>
    </body>
</html>