<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/receiveemailcode.css') }}">
    </head>
    <body>
        <div class="divider"></div>
        <div class="codebox">
            <h2>A code was mailed to the given address!<h2>
            <form method="post" action="/receiveemailcode" class="userpassinput">
                <div>
                    <input type="text" name="codeemail" placeholder="Code here..." value="">
                    <input type="submit" name="confirmcodeemail" value="Confirm">
                </div>
            </form>
            <div class="sidebyside">
                <div class="divider">
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <a href="{{ url_for('{{ priorpage }}') }}">Back</a>
                </div>
                <div class="divider">
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <a>Resend Code</a>
                </div>
            </div>
            <div class="divider">
                <p class="errormessage">{{  errormessage  }}</p>
            </div>
        </div>
    </body>
</html>