<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    </head>
    <body>
        <div class="divider"></div>
        <div class="signupbox">
            <h2>Signup by entering your email!<h2>
            <form method="post" action="/signup" class="userpassinput">
                <div>
                    <input type="text" name="emailtype" placeholder="Email here..." value="">
                    <input type="submit" name="confirmemail" value="Confirm">
                </div>
            </form>
            <div class="pushdown">
                <a href="{{ url_for('login') }}">Back</a>
            </div>
            <p class="errormessage">{{  errormessage  }}</p>
        </div>
    </body>
</html>