<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Settings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/usersettings.css') }}">
    </head>
    <body>
        <!-- Navigation bar at the top of the page. Links to all other pages -->
        <nav class="navlinkbar">
            <a href="{{ url_for('index') }}" class="navlink">HOME</a>
            <a href="{{ url_for('instructionsmanual') }}" class="navlink">HELP</a>
            <a href="{{ url_for('cardsearch') }}" class="navlink">ALL CARDS</a>
            <a href="{{ url_for('ownsets') }}" class="navlink">OWN SETS</a>
            <a href="{{ url_for('contact') }}" class="navlink">CONTACT US</a>
            <a href="{{ url_for('usersettings') }}" class="navlink">SETTINGS</a>
        </nav>

        <br>
        <br>

        <!-- User settings content -->
        <div class="pagecontent" style="margin-bottom: 4%;">
                <h1>User Settings</h1>

            <!-- Form for changing username and password, logging out, and deleting account -->
            <form method="POST" action="/usersettings">

                <!-- Input fields for changing username and password. Values sent to usersettings route for validation and updating. If validation succeeds, the changes are saved. 
                Else, an error message is displayed -->
                <div>
                    <label for="newusername">New username</label><br>
                    <input type="text" id="newusername" name="settinginputusername" placeholder="New username..." value="{{ pastusername }}">
                    <p class="namepassboundaries">(Username must be at least 3 characters long and can only contain alphanumeric characters)</p>
                </div>
                <div>
                    <label for="newpassword">New password</label><br>
                    <input type="text" id="newpassword" name="settinginputpassword" placeholder="New password..." value="">
                    <p class="namepassboundaries">(Password must be at least 8 characters long)</p>
                </div>
                <div>
                    <input type="submit" name="settingschangeaccount" value="Change Account Info">
                </div>

                <!-- Logout button -->
                <div>
                    <br>
                    <br>
                    <input type="submit" name="logout" value="Log Out">
                </div>

                <!-- Delete account button. Triggers confirmation form to be shown -->
                <div>
                    <br>
                    <input type="submit" name="deleteaccount" value="Delete Account">
                </div>

            </form>
            <br>

            <!-- displays alert / error messages -->
            {% if alert %}
                <div class="textalert">
                    <p style="background-color: rgb(75, 74, 0); color: #fad429;">{{ alert }}</p>
                </div>
            {% endif %}

            <!-- Form for confirming delete account. Sends value to check if it matches "PleaseDeleteMyAccount" then if successful deletes account. Else sets error alert -->
            {% if requestingdelete %}
                <p style="background-color: #4b0101; color: #fcb0b0;">To finalize account deletion, type "PleaseDeleteMyAccount" into the box below and enter</p>
                <form method="POST" action="/usersettings">
                    <input type="text" name="deleteaccountconfirm" placeholder="PleaseDeleteMyAccount">
                </form>
            {% endif %}

        </div>


        <!-- Footer bar at the bottom of the page -->
        <footer>
                <p>Bobo Cards Tracker is an unofficial program not owned by or affiliated with the Bobo Cards Company.</p>
                <p>All card art and licensing to all cards belongs to the Bobo Cards Company.</p>
        </footer>
        
    </body>
</html>